#All params that are used for the allocating of the nodes
[allocating_node]
#This param describes the time for the allocation. Must be set before allocating the nodes 
time=01:20:00

#Number of nodes and their respective type. The numbers are ignored if the respective mode is not active, 
#e.g. entry-nodes is ignored if use_flesnet = 0
[Number_of_Nodes]
#number of nodes for the GSI-timeslice-forwarding. 
receiver_nodes=2
#number of nodes for the ZIB-timeslice-forwarding
central_manager=1
input_nodes=1
output_nodes=1

#Describes what should be activated. These params are also considered when allocating the nodes
[mode]
GSI_Timesliceforwarding=0
ZIB_Timesliceforwarding=1
use_flescluster=0
is_flescluster=0
cm_ip=<cm_ip>

#general parameters for the flesctrl
[general]
#Defines if collectl should be usesd on every node, to measure bandwidth and CPU usage
use_collectl=1 
 #Defines the number of CPUS
num_cpus=6
#Loglevel of the flesctrl logger. They are the following loglevel in this order [DEBUG,STATUS,INFO,SUCESS,WARNING,ERROR,CRITICAL]
#The loglevel must be passed in exact this spelling. You can not use for example 1 for STATUS
loglevel=DEBUG 


#Used if processes should be killed during the execution. Can be used to check the robustness of the code
#The choice which process exactly is gonna be killed and the exact time is random. The parameter num_min_*_nodes_alive
#describes how many of the respective node type must be active.
[robustness_test]
activate_robustness_test=0
time_for_kills=00:00:10

#parameter for GSI timeslice-forwarding
num_min_sender_nodes_alive=0
num_min_process_nodes_alive=0
#parameter for ZIB timeslice-forwarding
num_min_input_nodes_alive=1
num_min_central_manager_alive=1
num_min_output_nodes_alive=1


#Describes if the user sets nodes manually or wants to exclude certain nodes (e.g. because of hardware issues)
[set_node_list]
# sets the node list. Should be set before allocating the nodes, otherwise the program may fail.
#The nodes should be given by the id and seperated by a comma. Don't use space between two nodes
##NOTE: if there any tabs or spaces after the nodes the allocation of nodes may fail
set_node_list=0
#GSI parameter(sender nodes are ignored if flesnet is active)
sender_nodes_list=
process_nodes_list=process-node1,process-node2
#ZIB parameter (input nodes are ignored if flesnet is active)
central_manager_node_list=cm-node1
input_node_list=input-node1
output_node_list=output-node1
# sets the list of nodes that should be excluded. Should be set before allocating the nodes, otherwise the program may fail.
#The nodes should be given by the id and seperated by a comma. Don't use space between two nodes
##NOTE: if there any tabs or spaces after the nodes the allocation of nodes may fail
exclude_nodes=0
#GSI parameter (sender nodes are ignored if flesnet is active)
exclude_sender_nodes=
exclude_process_nodes=
#ZIB parameter (input nodes are ignored if flesnet is active)
exclude_central_manager=exclude-cm-node1
exclude_input_nodes=exclude-input-node1
exclude_output_nodes=exclude-output-node1

#all necessary params for the flesnet command. 
[flesnet_commands]
path_to_flesnet=../../../build/
use_infiniband=1
#Here are the params that are used for the output shared memory for every node in flesnet or the timeslice-forwarding
[shm_commands]
desc_size=19     
data_size=27
num_components=29

#These are the commands to the input or output tsclients. When using GSI or ZIB Timeslice-forwarding, flesctrl starts
#a tsclient for each input node that reads the input file and one for each output node that takes the timeslices from the shm 
[tsclient_commands]
#says if the tsa files should be written into a file.
write_data_to_file=0
#gives the path to where the output files should be written in. 
path_to_output_file=../../../build/
#decides whether tsa or dtsa-files should be used
use_dtsa_files=1
#decides whether the tsa-files should be analyzed
analyze_data=1
#gives the port for the timeslice-forwarding. This is used for both the tsclient and the ZIB-timeslice-forwarding
port=5556

#The input dtsa files or tsa files. The data is the size in GB how big the corresponding tsa file is.
[ts_input_files]
input_node_0=../../../build/2391_node8_1_0000.dtsa
input_node_0_data=9
i_default=/scratch/htc/jschlieffen/cbm_data/dtsa_files/2022_gold_partial/2488_node17_1_0000.dtsa
i_default_data=9

#All params for the monotoring of the data rate
[Monotoring]
show_total_data=1
show_graph=1
show_progress_bar=1
show_only_entry_nodes=0

#All params for the grafana/influxdb connection.
#NOTE: influx_node_ip only requests the node ip of the node where influxdb is running
[influxdb]
use_grafana=0
influx_node_ip=local_host
token=insert_token

