#All params that are used for the allocating of the nodes
[allocating_node]
time=01:20:00

#Number of entry and build nodes
[Number_of_Nodes]
entry_nodes=2
build_nodes=2
receiver_nodes=2
central_manager=1
input_nodes=1
output_nodes=1

[mode]
use_flesnet=1
GSI_Timesliceforwarding=1
ZIB_Timesliceforwarding=0

[general]
overlap_usage_of_nodes=0 #Describes if one node should be both entry and build node. If 1 then nodes are both
use_collectl=1 #Defines if collectl should be usesd on every node, to measure bandwidth and CPU usage
num_cpus=6 #Defines the number of CPUS
loglevel=DEBUG #Loglevel of the flesctrl logger. They are the following loglevel in this order [DEBUG,STATUS,INFO,SUCESS,WARNING,ERROR,CRITICAL]
#The loglevel must be passed in exact this spelling. You can not use for example 1 for STATUS

#Used if processes should be killed during the execution. Can be used to check the robustness of the code
#The choice which process exactly is gonna be killed and the exact time is random
[robustness_test]
kill_nodes_during_execution=1
timer_for_kills=00:00:20
num_entry_nodes_kills=2
num_build_nodes_kills=1
num_sender_nodes_kills=1
num_process_nodes_kills=0
num_input_nodes_kills=1
num_central_manager_kills=1
num_output_nodes_kills=1
revive_nodes=1
set_kill_list=0
entry_node_kill_list=entry-node1
build_node_kill_list=build-node2
sender_node_kill_list=
process_node_kill_list=process-node1 
input_node_kill_list=
central_manager_kill_list=
output_node_kill_list=

[robustness_test_V2]
activate_robustness_test_V2=1
time_for_kills=00:00:10
num_min_entry_nodes_alive=0
num_min_build_nodes_alive=0
num_min_sender_nodes_alive=0
num_min_process_nodes_alive=0
num_min_input_nodes_alive=1
num_min_central_manager_alive=1
num_min_output_nodes_alive=1


#Describes if the user sets the entry and build nodes manually 
[set_node_list]
set_node_list=1
entry_nodes_list=entry-node1,entry-node2 
#The entry nodes should be given by the id and seperated by a comma. Don't use space between two nodes
build_nodes_list=build-node1,build-node2
#The build nodes should be given by the id and seperated by a comma. Don't use space between two nodes
#NOTE: if there any tabs or spaces after the entry nodes the allocation of nodes may fail
sender_nodes_list=
process_nodes_list=process-node1,process-node2
central_manager_node_list=cm-node1
input_node_list=input-node1
output_node_list=output-node1
exclude_nodes=1
exclude_entry_nodes=exclude-entry-node1
exclude_build_nodes=exclude-build-node1
exclude_sender_nodes=
exclude_process_nodes=
exclude_central_manager=exclude-cm-node1
exclude_input_nodes=exclude-input-node1
exclude_output_nodes=exclude-output-node1

#all necessary params for the flesnet command. 
[flesnet_commands]
path_to_flesnet=../../../build/
transport_method=rdma
use_infiniband=1
customize_string=--timeslice-size 100 --processor-instances 0 -e "./tsclient -i shm:%s -o tcp://*:5556"

#params if the mstool or the pattern generator is used or every additional mstool param
[mstool_commands]
use_pattern_gen=1
use_dmsa_files=1

#The input dmsa files. The data is the size in GB how big the corresponding msa file is.
#NOTE: The validation is not currently not checked
[input_file]
entry_node_1=../../../build/2488_node_TRD_32981.dmsa
entry_node_1_data=88
e_remaining=../../../build/500GB.dmsa
e_remaining_data=750

#Here are the params that are used for the pattern generator if activated. Might be extended in the future
[pgen_commands]
mean=1024000 
size_var=0
pattern=1
overlap=1

#Here are the params that are used for the output shared memory for every build node in flesnet. Might be extended in the future
[shm_commands]
desc_size=19     
data_size=27
#These number grow exponentially. data shm size is with this param 128 MIB and for 30 already 1 GiB


[tsclient_commands]
activate_timesliceforwarding=1
write_data_to_file=0
analyze_data=1
port=5556

[GSI_timesliceforwarding]
port=5556



[ts_input_files]
input_node_0=../../../build/2391_node8_1_0000.dtsa
input_node_0_data=9

#All params for the monotoring of the data rate
[Monotoring]
show_total_data=1
show_graph=1
show_progress_bar=1
show_only_entry_nodes=0

#All params for the grafana/influxdb connection.
#NOTE: influx_node_ip only requests the node ip of the node where influxdb is running
[influxdb]
use_grafana=0
influx_node_ip=local_host
token=insert_token

