/build*/
/lib/fles_core/Makefile
/lib/fles_ipc/Makefile
/lib/logging/Makefile
project.xcworkspace/
xcuserdata/
.vscode/
/.cproject
/.project
/.cache
contrib/flesctl/zib_flesctl/__pycache__/
__pycache__/
contrib/flesctl/zib_flesctl/config.cfg
contrib/flesctl/zib_flesctl/flesctrl_venv/
contrib/flesctl/zib_flesctl/benchmark_eval/plots
contrib/flesctl/zib_flesctl/Runs/
contrib/flesctl/zib_flesctl/tmp/
