/build*/
/lib/fles_core/Makefile
/lib/fles_ipc/Makefile
/lib/logging/Makefile
project.xcworkspace/
xcuserdata/
.vscode/
/.cproject
/.project
/.cache
contrib/flesctl/zib_flesctl/__pycache__/
__pycache__/
